.App {
  font-family: sans-serif;
  text-align: center;
}
.tab-icon {
  width: 24px;
  height: 24px;
  color: currentcolor;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
}

.card-title {
  display: inline-block;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/* use negative margins to accommodate wider button text */

.btn-circle span {
  margin: 0 -2rem;
}
.switch-btn {
  margin-top: 20px;
  display: inline-flex;
  background: none;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 50%;
  padding: 16px;
  vertical-align: center;
}

.switch-icon {
  width: 16px;
  height: 16px;
  color: rgb(0, 108, 224);
}
